.coordinates {
    height: 30px;
    width: 240px;

    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    
    border: 3px solid var(--system-light);
    color: var(--system-light);
    font-family: var(--font-regular);
    font-size: 14px;
    font-weight: 600;
}

.coordinates * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coordinates *:not(:last-child) {
    border-right: 3px solid white;
}

.capture_target {
    width: 60vw;
    height: 40vh;

    border: 3px solid var(--system-light);
}



.filmic_grid {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: auto auto auto;
}

.point {
    display: flex;
    justify-content: center;
    align-items: center;
}

.point *:first-child {
    rotate: 45deg;
}

.point *:last-child {
    rotate: -45deg;
}

.pointpart {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: var(--system-light);
}